@font-face {
  font-family: "iconfont"; /* Project id 4221081 */
  src: url('iconfont.woff2?t=1692793151425') format('woff2'),
       url('iconfont.woff?t=1692793151425') format('woff'),
       url('iconfont.ttf?t=1692793151425') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e6b8";
}

.icon-saomiao:before {
  content: "\e65c";
}

.icon-xiangmuzhouqi-:before {
  content: "\e609";
}

.icon-guanli:before {
  content: "\e65b";
}

.icon-fapiaoguanli:before {
  content: "\e7b3";
}

.icon-shenfenrenzheng:before {
  content: "\e694";
}

.icon-qiyeguanli:before {
  content: "\e60a";
}

.icon-shouye:before {
  content: "\ea3f";
}

.icon-tubiao-:before {
  content: "\e613";
}

